<h5 class="sidebar-nav-title">{% trans %}Labels{% endtrans %} <a class="action-link" href="#"><i class="glyphicon glyphicon-plus"></i></a></h5>
<!-- some styled links in sidebar. ready to use as links to email folders, projects, groups, etc -->
<ul class="sidebar-labels">
    <li>
        <a href="#">
            <!-- yep, .circle again -->
            <i class="fa fa-circle text-warning mr-xs"></i>
            <span class="label-name">{% trans %}My Recent{% endtrans %}</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-circle text-gray mr-xs"></i>
            <span class="label-name">{% trans %}Starred{% endtrans %}</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-circle text-danger mr-xs"></i>
            <span class="label-name">{% trans %}Background{% endtrans %}</span>
        </a>
    </li>
</ul>