<form class="navbar-form navbar-left" role="search" method="GET" action="{{ path('wbc_search_page') }}">
    <div class="form-group">
        <div class="input-group input-group-no-border">
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
            <input id="search-box" name="query" class="form-control" type="text" placeholder="{% trans %}Search Dashboard{% endtrans %}">
        </div>
    </div>
</form>